<div class="wrap">
  <header>
    <h1 class="container"><span>To</span> <span>-Do</span> App</h1>
  </header>

  

  <div class="wrapper">
    <div class="container mt-2">
      <div class="container mt-5 add-task-container">
        <input #_addtask (keydown.enter)='addTask(_addtask)' class="task-textbox" type="text" name="" id="" placeholder="Add Task">
        <button (click)='addTask(_addtask)' class="btn-add">Add</button>
      </div>
      <div class="display-task mt-5">
        <h2>Task List</h2>
        <ul class="tasks mt-2">
          <li *ngFor="let task of tasks; index as i" class="task">
            <ng-container *ngIf = "task != undefined" class=" mt-1">
              <span ><i class="fa-solid fa-pen-to-square edit-task" (click) = 'editTask(taski)' ></i></span>
              <span ><i class="fa-solid fa-trash-can delete-task" (click) = 'deleteTask(taski.id)'></i></span>
              <input type="checkbox" class="check-box task-checkbox" name="task-checkbox" id="{{ 'task-checkbox' + i}}">
              <label class="ccbox" for="{{ 'task-checkbox' + i}}">
                <i class="fa-solid fa-check ccbox-check"></i>
              </label> 
              <input type="text" class="task-value pointer-events-none" (focusout)='updateTaskOnUnfocus(taski)' (keydown.enter)='updateTaskOnUnfocus(taski)'  #taski id="{{task.id}}" value={{task.taskName}} />
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar mt-5">
      <h2>Task Category</h2>
      <ul class="mt-2 task-category">
        <li *ngFor="let c of category; index as i" class="task mt-1">
         <span (click)="displayTasks(i)" id="{{i}}">{{c}}</span> 
        </li>
        <!-- <li>Office</li>
        <li>Home</li>
        <li>Personal</li> -->

      </ul>
    </div>
  </div>
 
</div>